name: Tests

on:
  push:
    branches: [main]
  pull_request: ~

jobs:
  test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "7.0.x"

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore --configuration Release

      - name: Run tests with coverage
        run: dotnet test tests --no-build --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage-report

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage-report
          fail_ci_if_error: false
          token: ${{ secrets.CODECOV_TOKEN }}
